<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spms.system.mapper.CodeRuleMapper">
    <select id="selectByRuleFieldForUpdate" resultType="com.spms.system.entity.CodeRuleEntity">
        select *
        from coderule
        where rule_field = #{ruleField}
        limit 1
        for update
    </select>
</mapper>
