<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spms.asset.mapper.DeviceMapper">
    <resultMap id="parameterResultMap" type="com.spms.iot.entity.ParameterEntity">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="label" property="label"/>
    </resultMap>

    <sql id="parameterColumns">
        p.id,
        p.code,
        p.label
    </sql>

    <select id="getParameterListByDeviceId" resultMap="parameterResultMap">
        select
        <include refid="parameterColumns"/>
        from device_parameters dp
        join parameter p on p.id = dp.parameters_id
        where dp.device_entity_id = #{deviceId}
        order by p.id asc
    </select>
</mapper>
